{% extends "layout.html" %}
{% block title %}
    {{ block.super }}
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}rapidsms/stylesheets/layout.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}rapidsms/stylesheets/splits.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}rapidsms/stylesheets/modules.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}rapidsms/stylesheets/icons.css" />
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}generic/stylesheets/generic.css"/>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script src="{{STATIC_URL}}generic/javascripts/generic.js?005" type="text/javascript"></script>
{% endblock %}

{% block content %}
<section class="container" role="main">
<article class="span12 data-block">
<header>
							<h2>{{ title }}</h2>
    {% block header%}

        {% endblock %}

						</header>
    <section>



    <section class="filter-bar">


							<form class="form-inline">
                            {% csrf_token %}
                            {% block filters1 %}
                            {% if filter_forms|length > 0 %}
                                <h2>Filter By:</h2>
                            <div id="filters" class="module">
								<fieldset name="fil">


                                    {% for form in filter_forms %}
                                    <div class="control-group">

                                    {% for field in form.visible_fields %}

                                        {% if forloop.first %}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                        {% endif %}


                            <div class="controls">
                                 {{ field }}
                                <span class="help-block">{{ field.help_text  }}</span>

                            </div>











                            {% endfor %}


									</div>

                                    {% endfor %}


<div class="form-actions">


                    <a href="javascript:void(0)" onclick="filter(this)" class="btn btn-primary">Update</a>


                    <a href="./" class="btn btn-primary">Clear</a>




                    </div>
								</fieldset>
                                {% endif %}
                            {% endblock %}
							</form>


						</section>


    <form method="POST">
        {% csrf_token %}
        {% block actions %}
        {% if action_forms|length > 0 %}
            <input type="hidden" id="input_action" name="action" value=""/>
            <div class="module" id="actions">
                <h2>Actions</h2>
                {% block action_forms %}
                    {% for cname, form in action_forms %}
                        <div class="actionform" id="div_action_{{ forloop.counter0 }}">
				<table>
                                {% for field in form.visible_fields %}
                                    <tr>
                                        <td>
                                            {% if forloop.first %}
                                                {% for hidden in form.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}
                                            {% endif %}
                                            {{ field.label_tag }}
                                            {% if field.help_text %}
                                                <span class="action_form_help">{{ field.help_text }}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ field }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="2">
                                        <a class="{{ form.action_class }} btn" href="javascript:void(0)" onclick="actionx(this, '{{ cname }}',{{ page }})"><p data="{{ form.id_data }}" id="{{ form.id }}">{{ form.action_label }}</p></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                {% endblock %}
            </div>
        {% endif %}
        <script language="javascript">
            disable_enter();
        </script>
        {% endblock %}
        <div id="object_list" class="module">
            {% block object_list %}
                {% include partial_base %}
            {% endblock %}
        </div>
    </form>
    </section>
    </article>
{% endblock %}
